{%extends 'layout.html'%}

{% block title %}
	Updating User
{% endblock title %}

{% block content %}

<div class="content-section">
	<h3>Name: {{current_user.name}}</h3>
	<p>UserID: {{current_user.id}}</p>
	<p>Username: {{current_user.username}}</p>
	<p>Password: {{current_user.password}}</p>
	<p>Location: {{current_user.location}}</p>
	<p>Regstration: --Dare: {{current_user.date.date}} --Time: {{current_user.date.time}}</p>
</div>

<div class="content-section">
	<h1> Updating Profile Data:</h1>
	<form method="POST" action="#">
		{{form.hidden_tag()}}
		 <div class="form-group">
			{{form.name.label(class="form-control-label")}}
			 {{form.name(class="form-control form-control-lg",placeholder='enter your Username')}}
		 </div>
		<div class="form-group">
			{{form.username.label(class="form-control-label")}} {{form.username(class="form-control form-control-lg",placeholder='enter your Location')}}
		</div>
		<div class="form-group">
			{{form.location.label(class="form-control-label")}} {{form.location(class="form-control form-control-lg",placeholder='enter your Location')}}
		</div>
		 {{form.update(class="btn btn-outline-info")}}
	</form>
</div>
<div class="content-section">
	<h2>{{current_user.name}} Posts:</h2>
	<ol>
	{%for post in current_user.posts%}
	<li> Title: {{post.title}} -Posted at {{post.date.date}}-{{post.date.time}}<br> ......Content: {{post.content|safe}} </li>
	<a class="btn btn-warning" href="{{url_for('editpost',id=post.id)}}">Edit This Post</a>
		{%endfor%}
	</ol>
</div>

{% endblock content %}