{%extends 'layout.html'%}
{% block title %}
	fifth app iclude LAyout and Styling
{% endblock title %}

{% block content %}

<h1 style="color:darkgreen;">Home Page Users:</h1>
<div class="container">
	<p>
		Adding Users to Exist CSV File using Pandas DataFrame and importing Users in HTML Home<br>
		add secret_key to make flashed messages avilable!<br>
		add FormUser!<br>
	</p>
</div>

<div>
	<form method="POST" action="#">
		{{form.hidden_tag()}}
		 <div class="form-group">
			{{form.name.label(class="form-control-label")}}
			 {{form.name(class="form-control form-control-lg",placeholder='enter your Username')}}
		 </div>
	    <div class="form-group">
			{{form.age.label(class="form-control-label")}} {{form.age(class="form-control form-control-lg",placeholder='enter your Age')}}
		</div>
		<div class="form-group">
			{{form.location.label(class="form-control-label")}} {{form.location(class="form-control form-control-lg",placeholder='enter your Location')}}
		</div>
		 {{form.submit(class="btn btn-outline-info")}}
	</form>
</div>
<br>
<br>
<div class="container">
	<ol><h1>Existing Users:</h1>
		{%for i in range(users.shape[0])%}
			<li>Name: {{users.iloc[i,0]|title}} - Age: {{users.iloc[i,1]}} - Location: {{users.iloc[i,2]|title}}</li>
		{%endfor%}
	</ol>
</div>
{% endblock %}