{%extends 'layout.html'%}
{% block title %}
	fifth app iclude LAyout and Styling
{% endblock title %}

{% block content %}

<h1 style="color:darkgreen;">Home Page Users:</h1>
<div class="container">
	<p>
		Adding Users to Exist CSV File using Pandas DataFrame and importing Users in HTML Home<br>
		add secret_key to make flashed messages avilable!<br>
		add FormUser!<br>
	</p>
</div>
	{%with msgs=get_flashed_messages(with_categories=true)%}
		{%if msgs%}
			{%for cat, msg in msgs%}
				<h2 style="color:{{cat}};">{{msg if msg}}</h2>
			{%endfor%}
		{%endif%}
	{%endwith%}
<div>
	<form method="POST" action="#">
		{{form.hidden_tag()}}
		 <div class="form-group">
			{{form.name.label(class="form-control-label")}} {{form.name(class="form-control form-control-lg")}}
		 </div>
	    <div class="form-group">
			{{form.age.label(class="form-control-label")}} {{form.age(class="form-control form-control-lg")}}
		</div>
		<div class="form-group">
			{{form.location.label(class="form-control-label")}} {{form.location(class="form-control form-control-lg")}}
		</div>
		 {{form.submit()}}

	</form>
</div>
<div class="container">
	<ol><h1>Existing Users:</h1>
		{%for i in range(users.shape[0])%}
			<li style="color:#0998;">Name: {{users.iloc[i,0]|title}} - Age: {{users.iloc[i,1]}} - Location: {{users.iloc[i,2]|title}}</li>
		{%endfor%}
	</ol>
</div>
{% endblock %}