{%extends 'layout.html'%}

{% block title %}
	title for template
{% endblock title %}


{% block content %}

<h1>Content for Page Template</h1>

<h2>placeholder </h2>
<div class="container">
  <div class="row">
    <div class="bg-success col-sm-10  container content-section">
	    <h1>title: </h1>
      One of three columns
      One of three columns
      One of three columns
      One of three columns
      One of three columns
      One of three columns
    </div>

    <div class="bg-info col-md-3 content-section container">
      <h1>title: </h1>
	      One of three columns
	      One of three columns
	      One of three columns

    </div>
    <div class=" bg-warning col-xl-5 content-section container" >
	    <h1>title: </h1>

		.col- Extra Small ( < 576 px )<br>
		.col-sm- Small ( >= 576 px )<br>
		.col-md- Medium ( >= 768 px )<br>
		.col-lg- Large ( >= 992 px )<br>
		.col-xl- Extra Large ( >= 1200 px )<br>
    </div>
  </div>

</div>
<div class="bg-primary col-10 container">bg-primary</div>
<div class="bg-danger col-10 container">bg-danger</div>

{% endblock content %}